<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yasser</title>
    <link rel="stylesheet" href="static/style.css" /> <!---  css files has to be in a static folder and the path should be like this static/the_css_file_name --->
<!--- we need to do hard refresh for the chrome using shift + refresh to to see changes n css files because of the cached version chrome has  --->
</head>
<body>
    <h1>Hello Yassora</h1>
</body>
</html>